<html>
   <head><title>Create path</title>
         <script type="text/javascript" src="lib/jquery.js"></script>
         <script type="text/javascript" src="lib/jsl.parser.js"></script>
         <script type="text/javascript" src="lib/json2.js"></script>
         <script type="text/javascript" src="lib/dataformate.js"></script>
         <script type="text/javascript">
            $.ajaxSetup({cache:false});
            function login(){
                var form=$("#login_form");
                if(form.is(":hidden")){
                    form.show();
                }else{
                    form.hide();
                }
            }

            var temp_value = '';
            function checkData(){
                 var nodeValue=$.trim($("#data").val());
                 if(nodeValue != undefined && nodeValue != '' && nodeValue != null && nodeValue != 'null'){
                     temp_value = JSONDATA.formatJsonData(nodeValue);
                     if (temp_value != '') {
                        $('#data').val(temp_value);
                     } else {
                        return false;
                     }
                 }
                 return true;
            }
            window.onload=function(){
                $("#check_data").click(function(e){
                    var check_result = checkData();
                    if(check_result){
                        // 
                    }
                    $("#data").focus();
                });
                $("#create_node").click(function(e){
                    // check path
                    var node_path=$.trim($("#nodename").val());
                    if(node_path == undefined || node_path == '' || node_path == null || node_path == 'null'){
                        alert('node name is empty!');
                        $("#nodename").focus();
                        return false;
                    }
                    var check_result = checkData();
                    if( !check_result ){
                        $("#data").focus();
                        return false;
                    }
                    
                    temp_value=$.trim($("#data").val());
                    if(temp_value!=undefined && temp_value!='' && temp_value!=null && temp_value!="null"){
                        var compress_data = JSONDATA.compressJsonData(temp_value);
                        $('#data').val(compress_data);
                    }
                    var parent_path = $.trim($("#parentpath").val());
                    if (parent_path === '/') {
                        $('#path').val('/' + node_path);
                    } else {
                        $('#path').val(parent_path + '/' + node_path);
                    }
                    
                    $("#nodeForm").submit();
                 });
            } 
         </script>
                  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
                  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
                  <link rel='stylesheet', href='stylesheets/style.css'/>
   </head>
   <body>
         <div class= "container">
     <div id='login'>
       <% if(user) { %>
       <h3>Welcome,<%= user %> </h3>
       <% }else{ %>
       <a href='#' onclick='login();' class="btnStyle">Login</a>
       <div id='login_form' style='display:none;'>
         <form method="post" action="/node-zk/login">
                   <label>Username</label>
           <input type="text" name="user[name]" />
                   <label>Password</label>
           <input type="password" name="user[password]" />
           <input type="submit" value="Submit" />
         </form>
       </div>
       <% } %>
     </div>
     </br>
     <div>
      <form action="/node-zk/create" method="post" id="nodeForm">
        <table class= "table table-bordered">
          <tr>
           <td>Parent Path:<input type='hidden' name='parentpath' id='parentpath' value='<%= path %>'/></td>
           <td><%= path %><input type='hidden' name='path' id='path'/></td>
          </tr>
          <tr>
           <td>Node Name :</td>
           <td><input type='text' name="nodename" id='nodename' style="width:650px;"> </td>
          </tr>
         <tr>
           <td>Data (JSON format) :</td>
           <td><textarea cols='90' rows='20' name='data' id='data' style="width:650px;"
                spellcheck="false" placeholder="Please enter JSON format data."></textarea></td>
        </tr>
        <tr>
          <td>Type :</td>
          <td>
            <input type='radio' name='flag' value="0" checked="true"/>&nbsp;PERSISTENT</br>
            <input type='radio' name='flag' value="2"/>&nbsp;PERSISTENT_SEQUENTIAL</br>
            <input type='radio' name='flag' value="1"/>&nbsp;EPHEMERAL</br>
            <input type='radio' name='flag' value="3"/>&nbsp;EPHEMERAL_SEQUENTIAL</br>
          </td>
        </tr>
        <tr>
          <td colspan="1"><input type='button' id='check_data' value="Check data" class="btnStyle"/></td>
        <% if(user){ %>
          <td colspan="1"><input type='submit' id='create_node' value="Create" class="btnStyle"/></td>
        <% }else{ %>
          <td colspan="1"><input type='submit' id='create_node' value="Create" disabled='disabled' class="btnStyle"/></td>
        <% } %>
        </tr>
       <table>
     </form>
          </container>
     </div>
   </body>
</html>
